<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>VolarVideo iOS Mobile SDK (Beta)</string>
     <key>CFBundleIdentifier</key>
     <string>com.volarvideo</string>
     <key>CFBundleVersion</key>
     <string>1.0.24</string>
     <key>DocSetFeedName</key>
     <string>VVMoviePlayer</string>
     <key>DocSetPublisherIdentifier</key>
     <string>com.volarvideo</string>
     <key>DocSetPublisherName</key>
     <string>Chris Allen</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
